<table>
  <thead>
  <tr>
    <th>Tasks</th>
  </tr>
  </thead>
  <tbody>
  <% @task.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Kill', task_path(task), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Create', new_task_path %>